 <!DOCTYPE html>
 <html lang="en">
    <head>
        <title>Forgot Password</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <style>
            .form-gap{
                padding-top: 128px;
            }
        </style>
    </head>
    <body>
        <div class="form-gap"></div>
        <div class="container d-flex align-items-center justify-content-center">
            <div class="row">
                <div>
                    <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Success</h2>
                        <p>You can now <a href="{% url 'login' %}">Log In</a></p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>   