{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'errors/css/style.css' %}">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form class="login100-form validate-form" method="POST">
					{% csrf_token %}
					<span class="login100-form-title p-b-33">
						Enter your new password
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Your new password is required">
						{{ form.new_password1 }}
						
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
					{{ form.new_password1.errors }}

					<div class="wrap-input100 rs1 validate-input" data-validate="Confirm your new password">
						{{ form.new_password2 }}
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
					{{ form.new_password2.errors }}
					
					<div class="container-login100-form-btn m-t-20">
						<button class="login100-form-btn" type="submit">
							Confirm new password
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

<!--===============================================================================================-->
	<script src="{% static 'login/js/main.js' %}"></script>

</body>
</html>

