{% extends 'admin/admin-base.html' %}

{% block title %} Contact {% endblock %}

{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Contact</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'bugtracker_dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Contact</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section contact">

      <div class="row gy-4">

        <div class="col-xl-6">

          <div class="row">
            <div class="col-lg-6">
              <div class="info-box card">
                <i class="bi bi-geo-alt"></i>
                <h3>Address</h3>
                <p>Venezuela,<br>Nueva Esparta</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="info-box card">
                <i class="bi bi-telephone"></i>
                <h3>Call Me</h3>
                <p>+58 412-835-7739</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="info-box card">
                <i class="bi bi-envelope"></i>
                <h3>Email</h3>
                <p>wilasalq@gmail.com</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="info-box card">
                <i class="bi bi-clock"></i>
                <h3>Active Hours</h3>
                <p>Monday - Sunday<br>10:00AM - 05:00PM</p>
              </div>
            </div>
          </div>

        </div>
        <!-- unlock this code to create a form contact to send emails-->
      <!-- 
        <div class="col-xl-6">
          <div class="card p-4">
            <form class="php-email-form" novalidate>
                {% csrf_token %}
              <div class="row gy-4">

                <div class="col-md-6">
                  {{ form.user_name }}
                  {{ form.user_name.errors }}
                </div>

                <div class="col-md-6 ">
                  {{ form.from_email }}
                  {{ form.from_email.errors }}
                </div>

                <div class="col-md-12">
                  {{ form.subject }}
                  {{ form.subject.errors }}
                </div>

                <div class="col-md-12">
                  {{ form.message }}
                  {{ form.message.errors }}
                </div>

                <div class="col-md-12 text-center">
                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div>

        </div>
        --> 

      </div>

    </section>

  </main><!-- End #main -->
{% endblock %}
