{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<table>
    <thead>
        <tr>
            <th>Ticket Title</th>
            <th>Ticket Description</th>
            <th>Assigned Developer</th>
            <th>Submitter</th>
            <th>Project</th>
            <th>Ticket Priority</th>
            <th>Ticket Status</th>
            <th>Ticket Type</th>
            <th>Created</th>
            <th>Updated</th>
        </tr>
        
    </thead>
    <tbody>
        <tr>
            <td>{{ ticket.title }}</td>
            <td>{{ ticket.description }}</td>
            <td>{{ ticket.assigned_developer }}</td>
            <td>{{ ticket.submitter }}</td>
            <td>{{ ticket.project }}</td>
            <td>{{ ticket.get_priority_level_display }}</td>
            <td>{{ ticket.get_status_display }}</td>
            <td>{{ ticket.get_ticket_type_display }}</td>
            <td>{{ ticket.created }}</td>
            <td>{{ ticket.updated }}</td>
        </tr>
    </tbody>
</table>
{% if perms.experimenting.add_comment %}
<form id="comment_form" action="">
    {{ comment_form.author.as_hidden }}
    {{ comment_form.ticket.as_hidden }}
    {{ comment_form.description.label_tag }}
    {{ comment_form.description}}

</form>
<button onclick="createNewComment()">ADD</button>
{% endif %}

<div id="replaceable-comment-table">
    {% include 'admin/tickets/tickets_detail_comments_logic.html' %}
</div>

{% if perms.experimenting.add_file %}
<form id="file_form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ file_form.author }}
    {{ file_form.ticket }}
    {{ file_form.attachment.label_tag }}
    {{ file_form.attachment }}
    {{ file_form.description.label_tag }}
    {{ file_form.description }}
    {{ file_form.errors}}

</form>
<button type="submit" onclick="createNewFile()">ADD</button>
{% endif %}

<div id="replaceable-file-table">
    {% include 'admin/tickets/tickets_detail_files_logic.html' %}
</div>

<table>
    <thead>
        <tr>
            <th>Property</th>
            <th>Old Developer</th>
            <th>New Developer</th>
            <th>Created</th>
        </tr>
        
    </thead>
    <tbody>
    {% for ticket_history in ticket_history_list %}
        <tr>
            <td>Ticket assigned to: </td>
            <td>{{ ticket_history.old_developer }}</td>
            <td>{{ ticket_history.new_developer }}</td>
            <td>{{ ticket_history.created }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<script src="{% static 'CRUD_tables/js/tickets/ticket_detail.js' %}"></script>
</body>
</html>