<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.submitter.as_hidden}}
        {{form.modified_by.as_hidden}}
        {{form.assigned_developer}}
        {{form.project}}
        {{form.title}}
        {{form.description}}
        {{form.priority_level}}
        {{form.status}}
        {{form.ticket_type}}

        <input type="submit" value="Hola">
    </form>
    
</body>
</html>