				
				{% if ticket_list %}
				{% for ticket in ticket_list %}
					<tr>
					  <th scope="row">{{ ticket.id }}</th>
					  <td>{{ ticket.title }}</td>
					  <td>{{ ticket.project.name }}</td>
					  <td>{{ ticket.assigned_developer.first_name}}</td>
					  <td>{{ ticket.get_priority_level_display }}</td>
					  <td>{{ ticket.get_status_display }}</td>
					  <td>{{ ticket.get_ticket_type_display }}</td>
					  <td>{{ ticket.created }}</td>
					  <td>
						  <a href="{% url 'ticket_detail' ticket.id %}">Details</a> / 
						  <a href="{% url 'ticket_update' ticket.id %}">Edit</a>
					  </td>
					</tr>					
					
					
				{% endfor %}
				{% endif %}