				
				{% if tickets_list %}
				{% for ticket in tickets_list %}
					<div class="table100-body js-pscroll">
						<table>
							<tbody>
								<tr class="row100 body">
									<td class="cell100 column1">{{ ticket.title }}</td>
									<td class="cell100 column2">{{ ticket.submitter.username }}</td>
                                    <td class="cell300 column3">{{ ticket.assigned_developer.username}}</td>
                                    <td class="cell300 column4">{{ ticket.get_status_display }}</td>
                                    <td class="cell300 column5">{{ ticket.created }}</td>
									<td class="cell300 column6">
										<a href="">Details</a>
									</td>
                                    

								</tr>		
							</tbody>
						</table>
					</div>
					
					
				{% endfor %}
				{% else %}
					<h3>There are no tickets. Please create a new one.</h3>
				{% endif %}